{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Create User</h2>
        </div>
        {% call macros.render_form(form, action_url=url_for("create_user"), action_text="Create User") %}
            {{ form.csrf_token }}
            {{ macros.render_field(form.username, label_visible=false, placeholder="Username") }}
            {{ macros.render_field(form.password, label_visible=false, placeholder="Password") }}
            {{ macros.render_field(form.confirm, label_visible=false, placeholder="Confirm Password") }}
        {% endcall %}
    </div>
{% endblock %}