{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Running files</h2>
        </div>
        {% if metas %}
            <table id="myTable" class="table table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th class="sorter-false">Tags</th>
                        <th>Uploaded</th>
                    </tr>
                </thead>
                <tbody>

                    {% for meta in metas %}
                        <tr class="clickable-row" data-href="{{ url_for('show_file_code', filename=meta.filename ) }}">
                            <td>{{ meta.filename }}</td>
                            <td>
                                {% for tag in meta.tags %}
                                    <span class="label label-primary">{{ tag }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ meta.upload_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No files are currently running.
        {% endif %}
    </div>
{% endblock %}

<script>
    {% block script %}

        {{ super() }}

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });

        $(document).ready(function() {
            $(function() {
                $("#myTable").tablesorter();
            });
        });

    {% endblock %}
</script>