<!doctype html>
<title>Visualizer</title>
<link rel=stylesheet type=text/css href="{{  url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Visualizer</h1>
    <div class=metanav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Log out</a>
            <a href="{{ url_for('show_entries') }}">Write text</a>
            <a href="{{ url_for('upload_file') }}">Upload file</a>
            <a href="{{ url_for('show_all_files') }}">View files</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>