{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Login</h2>
        </div>
        {% call macros.render_form(form, class_="form-signin", action_url=url_for("login"), action_text="Login") %}
            {{ form.csrf_token }}
            {{ macros.render_field(form.username, label_visible=false, placeholder="Username") }}
            {{ macros.render_field(form.password, label_visible=false, placeholder="Password") }}
        {% endcall %}
    </div>
{% endblock %}