{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Uploaded files</h2>
        </div>
        {% call macros.render_form(search_form, action_url=url_for("show_all_files"), button=false) %}
            {{ search_form.csrf_token }}
            {{ macros.render_search_field(search_form.search, placeholder=search_text) }}
        {% endcall %}
        <br>
        <div class="list-group">
            {% for meta in metas %}
                     <a class="list-group-item" href="{{ url_for('show_file_code', filename=meta.filename ) }}">
                         <h4 class="list-group-item-heading">
                             {{ meta.filename }}
                             {% if meta.filename in running %}
                                 <small class="pull-right">
                                     <strong>Last run:</strong> <span class="label label-warning">Running</span>
                                 </small>
                             {% else %}
                                 <small class="pull-right"><strong>Last run:</strong> {{ meta.last_run_date }}</small>
                             {% endif %}
                             <small class="pull-right"><strong>Uploaded:</strong> {{ meta.upload_date }} &ensp;</small>
                         </h4>
                         <p class="list-group-item-text">
                             {% for tag in meta.tags %}
                                 <span class="label label-primary">{{ tag }}</span>
                             {% endfor %}
                         </p>
                    </a>
            {% else %}
                <em>No files available</em>
            {% endfor %}
        </div>
    </div>
{% endblock %}
