{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="container">
        <div class="page-header"><h2>{{ meta.filename }}</h2></div>
        <nav>
            <ul id="submenu1" class="nav nav-tabs">
                <li id="code" role="presentation"><a href="{{ url_for('show_file_code', filename=meta.filename) }}">Code</a></li>
                <li id="visualization" role="presentation"><a href="{{ url_for('show_file_visualization', filename=meta.filename) }}">Visualization</a></li>
            </ul>
        </nav>
        <br>
        {% block subpage %}{% endblock %}
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        (function() {
            var nav = document.getElementById('submenu1'),
                    anchor = nav.getElementsByTagName('a'),
                    menu = nav.getElementsByTagName('li'),
                    current = window.location.pathname.split('/')[3];
            for (var i = 0; i < menu.length; i++) {
                if (current.length > 0 && anchor[i].href.split('/')[5] == current) {
                    menu[i].className = "active";
                }
            }
        })();
    </script>
{% endblock %}