{% extends "show_file.html" %}
{% import 'macros.html' as macros %}
{% block subpage %}
    <ul class="list-inline">
        {% for tag in meta.tags %}
            <li>
                {% call macros.render_form(tag_form, url_for("show_file_code", filename=filename, process_id=process_id), button=false) %}
                    <span class="label label-primary">
                            {{ tag }}
                            <button type="submit" class="delete-tag" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <input type="hidden" name="delete_tag" value="{{ tag }}"/>
                        </span>
                {% endcall %}
            </li>
        {% else %}
            <em>The program has no tags.</em>
        {% endfor %}
        <li>
            <div id="run-script">
                {% call macros.render_form(tag_form, url_for("show_file_code", filename=filename), button=false) %}
                    {{ tag_form.csrf_token }}
                    {{ macros.render_field(tag_form.tags, label_visible=false, class="add-tags", placeholder="Add tag") }}
                {% endcall %}
            </div>
        </li>
    </ul>
    <p><b>Uploaded:</b> {{ meta.upload_date }}</p>
    <pre class="pre-scrollable">{{ content }}</pre><br>
    {% call macros.render_form(form, url_for("run_upload", filename=filename), button=false) %}
        {{ macros.render_submit_field(form.run, {'run':'success btn-lg btn-block'}, id="run-button") }}
    {% endcall %}
    <a id="download-button" role="button" class="btn btn-primary btn-lg btn-block" href="{{ url_for('download_network', filename=meta.filename) }}">Download Network</a>

    <script>
        var check_running = true;
        var download_button_href = $('#download-button').attr('href');

        function update_values() {
            if (check_running) {

                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: "{{ url_for('check_running', filename=filename) }}",
                    success: function(response) {
                        if (response.is_running) {
                            $('#run-button').attr({
                                disabled: true,
                                value: 'Running...'
                            });

                            // disable network download, to prevent partially trained networks to be downloaded
                            $('#download-button').attr('disabled', true);
                            $('#download-button').removeAttr('href');
                            check_running = false;
                        }
                        else {
                            $('#run-button').attr({
                                disabled: false,
                                value: 'Run'
                            });

                            // if not running, check if networks can be downloaded and activate/deactivate download button
                            set_downloadability();

                            // update value to stop checking if program is running
                            check_running = false;
                        }
                    }
                })
            }
            else {
                clearInterval(interval)
            }
        }

        // check if there exists any saved networks for current file, and set download button to be active or not
        function set_downloadability() {
            $.ajax({
                type: 'GET',
                cache: false,
                url: "{{ url_for('check_networks_exist', filename=filename) }}",
                success: function (response) {
                    if (response.networks_exist) {
                        $('#download-button').attr('disabled', false);
                        $('#download-button').attr('href', download_button_href);
                    }
                    else {
                        $('#download-button').attr('disabled', true);
                        $('#download-button').removeAttr('href');
                    }
                }
            });
        }

        update_values();
        interval = setInterval(update_values, 3000);
    </script>

{% endblock %}
