{% extends "show_file.html" %}
{% import 'macros.html' as macros %}
{% block subpage %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content panel-warning">
                <div class="modal-header panel-heading">
                    <h4 class="modal-title">Are you sure you want to delete '{{ filename }}'?
                        <span class="glyphicon glyphicon-warning-sign pull-right" aria-hidden="true"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>The file and all data associated with it, including networks and visualizations, will be deleted.<br>
                        This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{{ url_for('delete_file', filename=meta.filename) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="runModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select an image for visualization during training</h4>
                </div>
                {% call macros.render_form(run_form, url_for("run_upload", filename=filename), button=false) %}
                    <div class="modal-body">
                        <p>This image will be used throughout the training for the different visualization techniques.
                            Make sure that it is of correct format given your network requirements.</p>
                        <p class="help-block"> If no image is selected, a random image from the training data will be used.</p><br>
                        {{ run_form.image }}<br>
                        {% if has_files %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                <strong>Overwriting data for '{{ filename }}'</strong>
                                <p>This file already has data associated with it, could be a network or visualization data.
                                    If you choose to run the file anyway, this data will be overwritten. <br><br>
                                    Make sure to download all the files you may need before continuing. <br>
                                    This action cannot be undone.</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        {{ macros.render_submit_field(run_form.run, {'run':'success'}) }}
                    </div>
                {% endcall %}

            </div>
        </div>
    </div>

    <ul class="list-inline">
        {% for tag in meta.tags %}
            <li>
                {% call macros.render_form(tag_form, url_for("show_file_overview", filename=filename, process_id=process_id), button=false) %}
                    <span class="label label-primary">
                            {{ tag }}
                            <button type="submit" class="delete-tag" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <input type="hidden" name="delete_tag" value="{{ tag }}"/>
                        </span>
                {% endcall %}
            </li>
        {% else %}
            <em>The program has no tags.</em>
        {% endfor %}
        <li>
            <div id="run-script">
                {% call macros.render_form(tag_form, url_for("show_file_overview", filename=filename), button=false) %}
                    {{ tag_form.csrf_token }}
                    {{ macros.render_field(tag_form.tags, label_visible=false, class="add-tags", placeholder="Add tag") }}
                {% endcall %}
            </div>
        </li>
    </ul>
    <p><strong>Uploaded:</strong> {{ meta.upload_date }} <br>
        <strong>Last run:</strong> {{ meta.last_run_date }}</p>
    <div class="btn-toolbar" role="toolbar">
        <a id="download-button" role="button" class="btn btn-primary" href="{{ url_for('download_network', filename=meta.filename) }}">Download Network</a>
        <button id="delete-button" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal">Delete File</button>
    </div>
    <br>
    <pre class="pre-scrollable">{{ content }}</pre><br>
    <button id="run-button" type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#runModal">Run</button>
{% endblock %}

<script>
    {% block script %}

        {{ super() }}

        var check_network = true;

        function update_buttons() {
            // if the file is running (prev_running is inherited from the 'layout' parent-template)
            if ($.inArray("{{ filename }}", prev_running) != -1) {
                $('#run-button').attr({
                    disabled: true,
                    value: 'Running...'
                });
                // disable network download, to prevent partially trained networks to be downloaded
                $('#download-button').attr('disabled', true);
                // disable delete network when running
                $('#delete-button').prop('disabled', true);

                check_network = true;
            }
            // if the file is not running
            else {
                $('#run-button').attr({
                    disabled: false,
                    value: 'Run'
                });
                // if not running, check if networks can be downloaded and activate/deactivate download button
                if (check_network) {
                    set_downloadability();
                }
                // activate delete network button
                $('#delete-button').prop('disabled', false);
            }
        }

        update_buttons();
        interval = setInterval(update_buttons, 1000);

        // check if there exists any saved networks for current file, and set download button to be active or not
        function set_downloadability() {
            $.ajax({
                type: 'GET',
                cache: false,
                url: "{{ url_for('check_networks_exist', filename=filename) }}",
                success: function (response) {
                    $('#download-button').attr('disabled', !response.networks_exist);
                }
            });
            check_network = false;
        }

    {% endblock %}
</script>
