*.pyc
.idea/
visualizer/*.db
visualizer/static/user_storage/
visualizer/deconv_output
visualizer/deconv_max_images
visualizer/deconv_input/fall11_urls.txt
test_code/deep_dream/output
test_code/deep_dream/old_output
